<header>
  <nav>
    <div class="container">
      <ul>
        <li><a class="<%= link === "index" ? "active" : "" %> " href="/">Home</a></li>
        <li><a class="<%= link === "about" ? "active" : "" %> "  href="/about">About</a></li>
        <li><a class="<%= link === "videos" ? "active" : "" %> "  href="/videos">Videos</a></li>
        <li><a class="<%= link === "contact" ? "active" : "" %> "  href="/contact">Contact</a></li>
        <li><a class="<%= link === "portfolio" ? "active" : "" %> "  href="/portfolio">Portfolio</a></li>
        <li><a class="<%= link === "blog" ? "active" : "" %> "  href="/blog">Blog</a></li>
      </ul>

      <div class="hamburger">
        <div class="line-1"></div>
        <div class="line-2"></div>
      </div>

      <a
        target="_blank"
        href="https://www.youtube.com/channel/UCEqUQX-aWPRmcbaI4Hjd2ew/featured?sub_confirmation=1"
        class="youtube">
        Subscribe <img src="/img/profilephoto.jpg" alt="Vusal Huseynov" />
      </a>
    </div>
  </nav>
</header>
