<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <section id="single-blog">
      <div class="container">
        <img src="/img/blogImages/<%= blog.blog_image %>" alt="Vusal Huseynov" />
        <h2><%= blog.blog_name %></h2>
        <p><%= blog.blog_description %></p>
      </div>
    </section>

    <script src="/js/nav.js"></script>
    <script type="module" src="/js/main.js"></script>
  </body>
</html>
